.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  margin-bottom: 12px;
}

/********** FORM SECTION **********/
form {
  background: white;
  margin: 0 auto;
  width: 1300px;
  box-shadow: 1px 1px 4px 3px rgb(141, 141, 141);
}

fieldset{
  margin: 0;
  padding: 0;
  min-inline-size: 0;
  border: none;
}

label{
  font-weight: 700;
}

button { outline: none; }

textarea:focus, input:focus{
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
  height: auto;
  /* min-height: 20px; */
}

button, input[type=submit ] { cursor: pointer; }
input, textarea { border: none; }
input[ type=number ] {
  -moz-appearance: textfield;
}

input:-moz-placeholder,
input:focus {
    box-shadow:none !important;
}

input:invalid {
    box-shadow:0 0 2px 1px rgb(110, 26, 150);
}

input[ type=date ] { margin: 1px 6px; }

.main-containers {
  margin: 20px 0;
}

#toggle-save{
  margin: 15px;
  padding: 8px;
  border-radius: 45px;
  border: 2px solid rgba()
}

.btn-append{
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin: 7px 20px;
}

.add-info{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.add-info > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.add-btn-container > button {
  background: rgb(34, 32, 32);
  color: rgb(155, 146, 146);
  line-height: 17px;
}
.rmv-btn-container > button{
  background: rgb(226, 93, 93);
  color: rgb(245, 238, 238);
  line-height: 14px;
}
.add-rmv-btns {
  font-weight: 700;
  position: relative;
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 25px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.add-btn-container > button:hover{
  box-shadow: none;
  transform: rotateZ(360deg) scale(1.2);
  transition: transform 150ms ease-out;
}
.rmv-btn-container > button:hover{
  box-shadow: none;
  transform: rotateZ(-360deg) scale(1.2);
  transition: transform 150ms ease-out;
}

.add-info-text{
  font-size: 14px;
  padding-left: 25px;
}
/********** GENERAL-INFO SECTION **********/
#profile-upper-left, #profile-upper-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(34,54,56);
}

#profile-container > div {
  margin: 20px 30px;
}

#profile-name{
  font-size: 40px;
  font-weight: 700;
  width: 800px;
}

#profile-title{
  font-size: 22px;
  font-style: italic;
}

#profile-summary{
  border-top: 1px solid white;
  padding-top: 25px;
  width: 100%;
}
#profile-container input, #profile-container textarea{
  background-color:  rgb(34,54,56);
  color: white;
}

#profile-upper-right > *:not(label){
  padding: 7px;
  font-size: 14px;
}

#profile-upper-right > label{
  color: white;
}

#profile-address{
  height: auto;
}

/********** EDUCATION && EXPERIENCE SECTION **********/
.main-containers { font-size: 28px; }
.main-containers  input{
  background-color: white;
}
.main-containers  > div, .main-containers {
  margin: 30px 60px;
}
.exp-info{
  display: flex;
  flex-direction: column;
}
.exp-start-year{ 
  width: 50px; 
}
.exp-start-year, .exp-end-year { font-size: 0.8em; }
.exp-dates{
  display: inherit;
  margin-top: -20px;
}
.exp-name{
  font-size: 0.9em;
  margin-top: -20px;
}
.exp-position{ font-size: 0.6em; }
.exp-info > textarea {
  margin: 8px 15px;
  background-color: white;
}