@import "base";

$profile-bg: rgb(34,54,56);
$remove-btn-bg: rgb(226, 93, 93);

$font-color-dates: rgb(206, 141, 206);

div :not(#profile-container):not(.exp-name){
  margin-bottom: 12px;
}

/********** FORM SECTION **********/
#main-form {
  background: white;
  margin: 0 auto;
  width: 1300px; 
  -webkit-box-shadow: 1px 1px 4px 3px rgb(141, 141, 141); 
          box-shadow: 1px 1px 4px 3px rgb(141, 141, 141);
}

fieldset{
  margin: 0;
  padding: 0;
  min-inline-size: 0;
  border: none;
}

label{ font-weight: 700; }
button { outline: none; }
textarea:focus, input:focus{ outline: none; }

textarea {
  resize: none;
  overflow: hidden;
  height: auto;
  /* min-height: 20px; */
}

button, input[type=submit ] { cursor: pointer; }
input, textarea { border: none; }
input[ type=number ] {
  -moz-appearance: textfield;
}
input:disabled, textarea:disabled{
  color: black;
}
input:-moz-placeholder,
input:focus {
    box-shadow:none !important;
}

input:invalid {
    -webkit-box-shadow:0 0 2px 1px rgb(110, 26, 150);
            box-shadow:0 0 2px 1px rgb(110, 26, 150);
}

input[ type=date ] { margin: 1px 6px; }

.main-containers {
  margin: 20px 0;
}

#toggle-save{
  margin: 15px;
  padding: 8px;
  border-radius: 45px;
  border: 2px solid rgb(199, 192, 192);
}

#toggle-save{
  background: $profile-bg;
  color: white;
}

/********** ADD AND REMOVE BUTTONS SECTION ***********/
.add-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
}
.add-info > div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.add-btn-container > button {
  background: $profile-bg;
  color: rgb(155, 146, 146);
  line-height: 7px;
}
.rmv-btn-container > button{
  background: $remove-btn-bg;
  color: rgb(245, 238, 238);
  line-height: 14px;
}
.add-rmv-btns {
  font-weight: 700;
  position: relative;
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 25px;
  border-radius: 50%;
  font-weight: bold;
  -webkit-box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
}

.add-btn-container > button:hover{
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotateZ(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotateZ(360deg) scale(1.2);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  -o-transition: transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}
.rmv-btn-container > button:hover{
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotateZ(-360deg) scale(1.2);
      -ms-transform: rotate(-360deg) scale(1.2);
          transform: rotateZ(-360deg) scale(1.2);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  -o-transition: transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}
.add-info-text{
  font-size: 14px;
  padding-left: 25px;
}
.add-info2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 8px;
}
.add-info2 > div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.add-info2 button{
  width: 20px;
  height: 20px;
  line-height: 7px;
  padding: 5px;
  font-size: 20px;
}
.add-info-text2{
  font-size: 14px;
}
#print-btn{
  float: right;
  margin-right: 20px;
}
/********** GENERAL-INFO SECTION **********/
#profile-upper-left, #profile-upper-right{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#profile-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: $profile-bg;
}

#profile-container > div {
  margin: 20px 30px;
}

#profile-name{
  font-size: 40px;
  font-weight: 700;
  width: 800px;
}

#profile-title{
  font-size: 22px;
  font-style: italic;
}

#profile-summary{
  border-top: 1px solid white;
  padding-top: 25px;
  width: 100%;
}
#profile-container input, #profile-container textarea{
  background-color:  $profile-bg;
  color: white;
}

#profile-upper-right > *:not(label){
  font-size: 14px;
  padding: 2px;
}

#profile-upper-right > label{
  color: white;
}

#profile-address{
  height: auto;
}

/********** EDUCATION && EXPERIENCE SECTION **********/
#experiences-section{ width: 1000px; }
#main-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-containers { 
  font-size: 28px; 
}
.main-containers input, .main-containers textarea{
  background-color: white;
}
.main-containers  > div, .main-containers {
  margin: 30px 60px;
}
.exp-header-texts{
  border-bottom: 1px solid black;
}
.exp-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.exp-start-year{ 
  width: 53px; 
} 
.exp-dates > * { 
  font-size: 0.8em; 
  border-bottom: 1px solid rgba(129, 75, 75, 0.4);
}
.exp-dates{
  display: inherit;
  margin-top: -20px;
  border-bottom: 1px solid rgba(1,1,1,1);
}
.exp-dates > input, .exp-dates, .cer-dates{
  color: $font-color-dates;
}
.exp-name{
  font-size: 0.9em;
  margin-top: -20px;
}
.exp-position{ 
  font-size: 0.7em; 
  font-style: italic;
}
.exp-notes-ta, .exp-notes-para {
  margin-top: 3px;
  margin-left: 15px;
  font-size: 0.6em;
}
.exp-notes-para, .interest-para{
  display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

/********** SKILLS SECTION **********/
.skill-headers{
  font-family: 'Precious';
  margin-left: -20px;
  padding: 8px;
  border-left: 5px solid rgb(152, 153, 153);
  background: rgb(219, 219, 220)
}
#skills-section{
  width: 300px;
  color: rgb(36, 35, 35);
  background: rgb(240, 242, 241);
}
.skills-container{
  font-size: 24px;
  margin: 30px 60px;
}
.skill-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
.skill-wrapper:hover{
  -webkit-box-shadow: inset 0 0 100px 100px rgba(165, 165, 165, 0.1);
          box-shadow: inset 0 0 100px 100px rgba(165, 165, 165, 0.1);
  button{
    visibility: visible;
    -webkit-transition: visibility 2s ease-in;
    -o-transition: visibility 2s ease-in;
    transition: visibility 2s ease-in;
  }
}
.round-btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(240, 111, 111);
  color: white;
  margin-left: 12px;
  line-height: 0.3;
  padding: 5px;
  visibility: hidden;
}
.round-btn:hover{
  -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.skill-name{
  font-size: 0.7em;
}
.skill-addition-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  #skill-text-input{
    font-size: 0.7em;
    width: 160px;
  }
  .skill-appender{
    background: rgb(80, 220, 80);
    color: white;
  }
  .skill-appender:hover{
    background: rgb(122, 241, 122);
  }
}
/**********LANGUAGES SECTION *************/
#lang-text-input{
  font-size: 0.7em;
  width: 120px;
}
#lang-lvl-options{
  font-size: 0.7em;
}
.lang-name{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lang{
  font-size: 0.8em;
}
span {
  font-size: 0.5em;
  color:rgb(136, 131, 131);
}
.lang-name:hover{
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 100px 100px rgba(165, 165, 165, 0.1);
          box-shadow: inset 0 0 100px 100px rgba(165, 165, 165, 0.1);
  button{
    visibility: visible;
    -webkit-transition: visibility 2s ease-in;
    -o-transition: visibility 2s ease-in;
    transition: visibility 2s ease-in;
  }
}
.parallelogram-bar { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  width: 100px; 
  height: 25px; 
  -webkit-transform: skew(30deg); 
  -ms-transform: skew(30deg); 
      transform: skew(30deg);
  border-right: 1px solid rgba(255,255,255,0.8);
  margin: 20px;
}
.parallelogram-shape { 
  width: 20px; 
  height: 23px; 
  -webkit-transform: skew(0deg); 
  -ms-transform: skew(0deg); 
      transform: skew(0deg);
  background: rgb(53, 187, 240);
  border-right: 1px solid rgba(255,255,255,0.8);
}
/**********CERTIFICATION SECTION *************/
#certificates-container div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
}
#certificates-container input, #certificates-container textarea {
  font-size: 0.6em;
}
#certificates-container input{ 
  -ms-flex-item-align: start; 
      align-self: flex-start;

}
#certificates-container textarea{ min-width: 500px; }

/**********INTERESTS SECTION *************/
#interests-container textarea{
  font-size: 0.6em;
  min-width: 750px;
}
.interest-para{
  font-size: 0.6em;
  margin-left: 60px;
}

/**********OPTIONS SECTION *************/
/*sidebar to toggle specific sections of the cv*/
#options-container {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #575363;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(.57,-0.01,.26,1.18);
  transition: -webkit-transform 200ms cubic-bezier(.57,-0.01,.26,1.18);
  -o-transition: transform 200ms cubic-bezier(.57,-0.01,.26,1.18);
  transition: transform 200ms cubic-bezier(.57,-0.01,.26,1.18);
  transition: transform 200ms cubic-bezier(.57,-0.01,.26,1.18), -webkit-transform 200ms cubic-bezier(.57,-0.01,.26,1.18);
}
#sidebar-options{
  color:rgb(168, 164, 233);
}
#toggle-options-text {
  display: block;
  text-align: center;
  border-bottom: 4px double rgba(117, 112, 207, 0.7);
  padding:0 10px; 
}
#toggle-options-text-wrapper {
  width: 100%; 
  text-align: center; 
  line-height: 0.1em;
  margin-bottom: 50px;
} 
.sidebar-toggle-wrappers{
  margin: 15px;
}
/* button that toggles the visibility of the sidebar*/
#toggle-sidebar{
  width: 30px;
  height: 30px;
  background-color: #575363;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
input[ type=checkbox ]{
  margin-left: 16px;
  margin-top: 15px;
}
.move-to-right {
  -webkit-transform: translateX(390px);
  -ms-transform: translateX(390px);
  transform: translateX(390px);
}
.rotate-button{
  -webkit-transform: rotateZ(180deg) translateX(30px);
  -ms-transform: rotateZ(180deg) translateX(30px);
  transform: rotateZ(180deg) translateX(30px);
}

/********ICONS********/
.fas {
  display: block;
  -webkit-transform: rotateZ(180deg) translateX(-1px) translateY(-7px) scale(2.6);
      -ms-transform: rotate(180deg) translateX(-1px) translateY(-7px) scale(2.6);
          transform: rotateZ(180deg) translateX(-1px) translateY(-7px) scale(2.6);
  color: white;
}

